# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Compiled output
build

# Runtime data
database.sqlite

# Test coverage
coverage
.nyc_output

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store

*webhooks.txt*

package-lock.json

data/.party-answer-map.json
data/candidate-answer-map.json
data/candidate-numbers-map.json
data/get_candidate_numbers.js
data/candidate_phone_lookup.js
data/candidate_send_sms.js
data/generate_candidate_upload_secrets.js
.candidate-secret.json
.candidate-phone.json
.party-answer-map.json