@import '../../components/variables.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-weight: 100;
  font-size: 16px;
  font-family: $font-sans;
  line-height: 1.75;
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.root {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-100vw);
  z-index: -1;
  width: 440px;
  will-change: transform, opacity;
}

.link {
  outline: none;
  appearance: none;
  display: block;
  color: #000;
  font-size: 3rem;
  padding: 0.6em 1em;
  border: 1px solid #888;
  font-weight: 900;
  text-decoration: none;
  transition: transform 600ms 400ms;
  will-change: transform;
}

@keyframes logoout {
  40%,
  80% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}

.isOpen {
  .logo {
    animation: logoout 4000ms 1 forwards;
  }

  .link {
    transform: translateX(100vw) scale(0.5);
  }
}
