@import '../../components/functions.scss';

.root {
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include between-property('margin-bottom', 64px, 0px, 768px, 0);
}

.logo {
  height: auto;
  max-height: 40px;
  max-width: 40px;
}

.topics, .candidatesContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}