@import '../../components/functions.scss';
@import '../../../src/components/variables';

.root {
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include between-property('margin-bottom', 64px, 0px, 768px, 0);
}

.logo {
  height: auto;
  max-height: 40px;
  max-width: 40px;
}

.topics, .candidatesContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subtitle {
  font-size: 19px;
  font-family: "Lora", serif;
  text-align: center;

  span {
    background-color: $background-color;
    padding: 0 20px;
  }

  &::after {
    background: inherit;
    content: '';
    display: block;
    border-top: 1px solid #eee;
    position: relative;
    bottom: 15px;
    z-index: -1;
  }
}