@import '../../components/variables.scss';

$breakpoint: $site-medium;

.root {
}

.name {
  font-family: $font-serif;
  font-size: 1.05rem;
  cursor: pointer;

  @media (min-width: #{$breakpoint}) {
    font-size: 1.4rem;
  }
}

.categories {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding-top: 1.5em;
}

.category {
  padding: 0.7em 0;

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.info {
  display: flex;
  align-items: center;
  height: 35px;

  @media screen and (max-width: #{$breakpoint}) {
    height: 30px;
  }

  .image {
    width: 25px;
    height: 25px;
    object-fit: contain;

    @media screen and (max-width: #{$breakpoint}) {
      width: 20px;
      height: 20px;
    }
  }
}

.text {
  padding-bottom: 1em;
  padding-top: 1em;

  p {
    margin-bottom: 1rem;

    @media screen and (max-width: #{$breakpoint}) {
      font-size: 0.9rem;
    }
  }
}

.textNoReply {
  font-size: 0.8125rem;
}
