@import '../../components/functions.scss';

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Firefox */
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Webkit */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* IE */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.lookupContainer {
  max-width: 720px;
  margin: 0 auto;
  h2 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: $color-dark;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    color: $color-dark;
    b {
      font-weight: 200;
      color: $color-dark;
    }
  }
}

.lookupWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  // background-image: url('./iceland.png');
  // background-color: #ced5dc;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.backgroundgone {
  transition: $transition-bezier;
  opacity: 0;
}

.input {
  width: 300px;
  height: 4rem;
  border: 0;
  border-radius: 4px;
  outline: none;
  background: #eaeaea;
  font-size: 15px;
  color: #808080;
  box-sizing: border-box;
  padding: 0 1rem;
  -moz-appearance:textfield;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit {
  @include button;
}

.submitwhite {
  @include button;
  background: #fff;
  color: $color-primary;
}

.results {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

.leftResults {
  margin-right: 20px;
  min-width: 400px;
  //@TODO make this responsive, 400px wont work
}

.kjorstadur {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.itineriesBox h3 {
  margin-top: 15px;
}

.itineries li {
  display: flex;
  list-style: none;
  margin-top: 8px;
}

.itineries .icon {
  display: flex;
  justify-content: center;
  width: 16px;
  height: 28px;
  background: center center no-repeat;
  background-size: 16px 16px;
  margin-right: 8px;
}

.faded {
  opacity: 0.5;
}

.mapContainer {
  min-width: 350px;
  width: 100%;
  height: 323px;
}

.currentAddressBox h3 {
  margin-bottom: 0.5em;
  font-size: 1rem;
  margin-top: 1rem;
}

.currentAddressContainer {
  display: flex;
}

.currentAddressContainer input {
  min-width: 120px;
}

.currentAddressContainer .submit {
  min-width: 140px;
}

.fetching {
  font-weight: 800;
  text-align: center;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-animation: blink normal 1.5s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 1.5s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 1.5s infinite ease-in-out; /* IE */
  animation: blink normal 1.5s infinite ease-in-out; /* Opera */
}

.errormsg {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  font-weight: 800;
  text-align: center;
  background: #fff;
  transition: $transition-bezier;
  box-shadow: 0 0 16px solid rgba(0, 0, 0, 0.2);
}

.fetchError {
  color: red;
}

.disclaimer {
  font-size: 0.8rem;
  margin: auto;
  margin-top: 40px;
}
