@import '../../components/functions.scss';

.root {
  display: flex;
  flex-direction: column;
}

.lookupContainer {
  display: flex;
}

.input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  border: 1px solid #c6cacc;
  border-top: 1px solid #c6cacc;
  border-radius: 4px;
  outline: none;
  background: #fafafa;
  font-size: 15px;
  color: #808080;
  box-sizing: border-box;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border-radius: 4px;
  background: #0076fc;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.results {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

.leftResults {
  margin-right: 20px;
  min-width: 400px;
  //@TODO make this responsive, 400px wont work
}

.kjorstadur {
  font-size: 2rem;
  font-weight: 300;
}

.itineriesBox h3 {
  margin-top: 15px;
}

.itineries li {
  display: flex;
  list-style: none;
  margin-top: 8px;
}

.itineries .icon {
  display: flex;
  justify-content: center;
  width: 16px;
  height: 28px;
  background: center center no-repeat;
  background-size: 16px 16px;
  margin-right: 8px;
}

.faded {
  opacity: 0.5;
}

.mapContainer {
  min-width: 350px;
  width: 100%;
  height: 323px;
}

.currentAddressBox h3 {
  margin-bottom: 0.5em;
}

.currentAddressContainer {
  display: flex;
}

.currentAddressContainer input {
  width: 50%;
  min-width: 120px;
  text-align: center;
}

.currentAddressContainer .submit {
  min-width: 140px;
}

.disclaimer {
  font-size: 0.8rem;
  font-style: italic;
  margin: auto;
  margin-top: 20px;
}
