@import '../../components/variables.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-weight: 100;
  font-size: 16px;
  font-family: $font-sans;
  line-height: 1.75;
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.subHeader {
  background: rgb(122, 124, 128);
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.subHeaderContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.altTitle,
.altTitle a,
.title {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.main {
  flex: 1 1 auto;
}
