@import '../../components/functions.scss';
@import '../../components/variables.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-weight: 100;
  font-size: 16px;
  font-family: $font-sans;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.subHeader {
  background: rgb(230, 231, 233);
  margin-bottom: 2em;

  @include between-property('padding-bottom', 16px, 5px, 1200px, 0);
  @include between-property('padding-top', 16px, 5px, 1200px, 0);
}

.subHeaderContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.altTitle,
.altTitle a,
.title {
  color: rgb(69, 70, 75);
  text-decoration: none;

  @include between-property('font-size', 16px, 12px, 1200px, 0);
}

.main {
  flex: 1 1 auto;
}
