@import '../../components/variables.scss';

.root {
  max-width: 500px;
  margin: 3rem auto 4rem;

  h3 {
    font-family: 'Lora', serif;
    margin-bottom: 1em;
  }

  input {
    margin-right: 15px;
  }

  button {
    background: #353535;
    color: #fff;
    border: none;
    appearance: none;
    padding: 1em 1.4em;
    margin-top: 3rem;
  }
}

.question + .question {
  padding-top: 4rem;
}

.intro {
  margin-bottom: 3em;
}

.uploadForm {
  margin-bottom: 6em;
}

.uploadSubmit {
  background: #353535;
  color: #fff;
  border: none;
  appearance: none;
  padding: 1em 1.4em;
  margin-top: 3rem;
}

.uploadSuccess {
  padding: 0.8em 3em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.2rem;
  background: #339067;
  border-radius: 4px;
  color: white;
}

.uploadFailure {
  padding: 0.8em 3em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.2rem;
  background: #903333;
  border-radius: 4px;
  color: white;
}
