@import '../../components/variables.scss';

.parties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 12px;

  .party {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin-left: 12px;
    margin-bottom: 12px;
    background: #f1f2f4;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px;

    .letter {
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 1.5rem;
      color: #666;
      font-family: $font-rising-demi;

      span {
        font-size: 1.2rem;
        font-family: $font-rising-demi;
      }
    }

    .name {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      text-align: center;
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      font-family: $font-rising-demi;
    }

    .image {
      height: 90px;
    }
  }

  .party:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.35);
  }
}
