@import '../../components/variables.scss';

.voteCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.1rem;
  text-align: center;
  background: #fafafa;

  .ctaButtons {
    display: flex;
    margin-top: 10px;

    $breakPoint: 850px;

    @media (max-width: $breakPoint) {
      flex-direction: column;
    }

    .button {
      padding: 0.45em 0.8em;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      color: #343434;

      @media (max-width: $breakPoint) {
        padding: 0.3em 0.5em;
      }
    }

    .arrow {
      display: flex;
      align-items: center;
      margin: 0 10px;

      @media (max-width: $breakPoint) {
        display: none;
      }
    }

    .button:hover {
      background: #eaeaea;
    }
  }
}

.parties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.party {
  border: 0 solid #efefef;
  border-top-width: 1px;
  background: #fff;
  color: #555;
  cursor: pointer;
  line-height: 1;
  position: relative;
  text-decoration: none;
  transition: filter 400ms;

  &:hover {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
    transition-duration: 250ms;
  }
}

.party,
.emptyParty {
  align-items: center;
  font-size: 1rem;
  display: flex;
  height: 65px;
  width: 100%;

  @media (min-width: 600px) {
    border-width: 1px;
    height: 200px;
    justify-content: center;
    margin-bottom: 1em;
    width: calc(50% - 0.5em);
  }

  @media (min-width: 900px) {
    margin-bottom: 1.5em;
    width: calc(33.3333% - 1em);
  }
}

.letter {
  border: 1px solid #efefef;
  border-right: 0;
  border-top: 0;
  color: #aaa;
  font-size: 1rem;
  padding: 10px 12px;
  position: absolute;
  right: 0;
  top: 0;

  span {
    font-size: 1.2rem;
  }

  @media (max-width: 599px) {
    display: none;
  }
}

.name {
  font-size: 1rem;
  margin-bottom: 0.4em;
}

.leader {
  color: #777;
  font-size: 0.8em;
}

.imgWrap {
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  width: 2rem;
}

.image {
  height: auto;
  max-height: 70px;
  max-width: 30px;
}

@media (min-width: 600px) {
  .info {
    width: 55%;
  }

  .imgWrap {
    text-align: center;
    width: 45%;
  }

  .image {
    height: auto;
    max-height: 70px;
    max-width: 100px;
  }
}
