@import '../../components/variables.scss';

.root {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.leftWrap {
  position: relative;
}

.logo {
  width: 120px;
}

.countdown {
  bottom: -8px;
  font-size: 11px;
  opacity: .7;
  position: absolute;
  right: 0;
}

.links {
  a {
    display: inline-block;
    color: inherit;
    margin-left: 1.5em;
    padding: 1em 0.5em;
    position: relative;
    text-decoration: none;
  }

  a::after {
    background: #000;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transform-origin: center 0;
    transform: scaleX(0);
    transition: transform 250ms;
  }

  a:not(.active) {
    opacity: .5;
  }

  a.active {
    cursor: default;
  }

  a.active::after,
  a:hover::after {
    transform: none;
  }
}

.countdown {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

