.checkbox {
  display: flex;
  position: relative;
  margin-bottom: 1em;
  input {
    opacity: 1;
    position: relative;
  }
  input:checked + label {
    background: #fff;
    color: #333;
  }
  label {
    background-color: #fff;
    padding: 0;
  }
}